<div ng-controller="UsersController as profile" class="z-depth-1">
  <h3>I Like:</h3>
  <span ng-repeat="food in profile.getCurrentUserLikes() track by $index">
    <div class="chip">
      {{food}}
      <i class="material-icons">close</i>
    </div>
    &nbsp;
  </span>
  <div class="row">
    <span><div class="input-field col s2">
      <input ng-model="like" type="text" class="validate">
      <label class="active" for="profile.newFood">New Like</label>
      <button ng-click="profile.newLike(like)" type="submit" class="btn waves-effect waves-light" name="action">
        add
      </button>
    </span>
    </div>
  </div>
</div>

<div class="s12 m4 l8">
  <div class="row">
    <h3 class="">Feed Me!<h3>
  </div>
</div>
